body {

    font-family:'Courier New', monospace;

    background-color: #98d1ffd3;

    color: rgb(26, 25, 25);

    text-align: center;

}

h1{

    font-size: 50px;

}

button{

    padding: 12px 20px;

    font-size: 18px;

    margin: 10px;

    cursor: pointer;

}

.answerBtn{

    display:block;

    margin:10px auto;

}